:root {
  --primary-font-family: "Roboto", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

* {
  font-family: var(--primary-font-family);
}

/* LOGO */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  color: var(--primary-text-color);
}
.logo-span {
  color: var(--accent-color);
  font-style:700px;
}
