:root {
  --primary-font-family: "Roboto", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}

/* ALL STARTS*/

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ALL END */

/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

/* .logo:hover,
.logo:focus {
  color: #ffffff;
} */

.logo-span {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* NAVIGATION */
.nav-list {
  /* font-weight: 500; */
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav-list:hover,
.nav-list:focus {
  color: var(--accent-color);
}
/* END NAVIGATION */

/* START HERO */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #FFFFFF;  */
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color: #FFFFFF; */
  cursor: pointer;
}
/* END HERO */

/* START FEATURES */
.features-big-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* END FEATURES */

/* START ABOUT US */
/* END ABOUT US */

/* START TEAM */
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* END TEAM */

/* START FOOTER */
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-span-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* color: #ffffff; */
  color: #000000;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  /* color: #FFFFFF; */
  color: rgb(63, 55, 44);
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  /* color: rgba(255, 255, 255, 0.6); */
  color: #757575;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
/* END FOOTER */

/* PORTFOLIO GALLERY */

.gallery-search-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.gallery-primary-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-secondary-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
