:root {
  --primary-font-family: "Roboto", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

* {
  font-family: var(--primary-font-family);
}
/* ALL STARTS*/

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ALL END */
/* LOGO */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-span {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
}
